<%= turbo_stream_from [noteable&.class&.name&.downcase, noteable&.id, "notes_feed"].compact.join("_") %>

<% notes ||= noteable.notes %>
<div id="notes_container">
  <% if notes.empty? %>
    <div class="text-center">
      <%= render(EmptyStateComponent.new(klass: Note)) %>
    </div>
  <% else %>
    <div class="flow-root mt-8">
      <ul id="notes" role="list" class="-mb-8">
        <% notes.each_with_index do |note, i| %>
          <%= render partial: "notes/feed_item", locals: { note: note } %>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>
