<div class="px-4 sm:px-6 lg:px-8">
  <%= render(PageHeaderComponent.new(page_title: "Analytics")) %>

  <div class="mt-5 grid grid-cols-1 gap-5 sm:grid-cols-3">
  <%= render(
      EmptyChartComponent.new(
        id: "search-types",
        path: search_types_analytics_path
      )
    ) %>
    <%= render(
      EmptyChartComponent.new(
        id: "search-types",
        path: search_types_analytics_path,
        size: "col-span-2"
      )
    ) %>
  </div>
</div>
