<%= render PageHeaderComponent.new(page_title: "Edit #{@family.name}") %>
<%= render partial: "form", locals: { family: @family } %>
<div>
  <div>
    <h3 class="text-lg font-medium leading-6 text-gray-900">Notes and History</h3>
    <p class="mt-1 max-w-2xl text-sm text-gray-500">Additional information about the family.</p>
  </div>
  <%= render partial: "notes/feed", locals: { noteable: @family, notes: @family.notes.order(created_at: :desc) } %>
  <%= render partial: "notes/form", locals: { noteable: @family, note: @family.notes.new } %>
</div>
