<div
  data-controller="google-maps"
  data-google-maps-lat-value="<%= @lat %>"
  data-google-maps-lng-value="<%= @lng %>"
  data-google-maps-points-value="<%= @points %>"
>
  <div data-google-maps-target="map" style="margin-top: 1rem; height: 400px; width: 100%;"></div>
</div>
