<div
  class="w-full"
  data-controller="charts--pie-chart"
  data-charts--pie-chart-data-value="<%= @data %>"
  data-charts--pie-chart-title-value="<%= @title %>"
>
  <canvas data-charts--pie-chart-target="canvas" class="mx-auto"></canvas>
</div>
