<div
  class="w-full"
  data-controller="graphs--pie-chart"
  data-graphs--pie-chart-data-value="<%= @data %>"
  data-graphs--pie-chart-title-value="<%= @title %>"
>
  <canvas data-graphs--pie-chart-target="canvas"></canvas>
</div>
