<div class="px-4 sm:px-6 lg:px-8">
  <div class="sm:flex sm:items-center">
    <div class="sm:flex-auto">
      <h1 class="text-xl font-semibold text-gray-900"><%= @search.name %></h1>
    </div>
    <div class="mt-4 sm:mt-0 sm:ml-16 sm:flex-none">
      <%= link_to "Edit search", edit_search_path(@search), class: "inline-flex items-center justify-center rounded-md border border-transparent bg-pink-600 px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-pink-700 focus:outline-none focus:ring-2 focus:ring-pink-500 focus:ring-offset-2 sm:w-auto" %>
    </div>
  </div>
  <% if @results.present? %>
    <%= render(partial: "results/results_table", locals: { results: @results }) %>
  <% else %>
    <%= render(EmptyStateComponent.new(klass: Search)) %>
  <% end %>
</div>
