<div
  class="w-full"
  data-controller="charts--stacked-bar-chart"
  data-charts--stacked-bar-chart-data-value="<%= @data %>"
  data-charts--stacked-bar-chart-title-value="<%= @title %>"
>
  <canvas data-charts--stacked-bar-chart-target="canvas" class="mx-auto" style="width:100%;height:100%;"></canvas>
</div>
