<p>Dear <%= @email %>,</p>

<p>Welcome to the community! We still need you to confirm your email by clicking the link below:</p>

<p><%= link_to "Confirm my account", confirmation_url(@resource, confirmation_token: @token) %></p>

<p>If you are having problems seeing the button please contact our customer support at <a href="mailto:support@paylooza.com">support@paylooza.com</a>.</p>
