<p>Hello <%= @resource.email %>!</p>

<p>We're contacting you to notify you that your password has been changed.</p>

<p>If you did not change your password or think you have done this by mistake please contact our customer service department at <a href="mailto:support@paylooza.com">support@paylooza.com</a>.</p>
