<div class="absolute inset-0 px-4 sm:px-6">
  <div class="grid place-items-center h-full border-2 border-dashed border-gray-200" aria-hidden="true">
    <div class="text-center">
      <%= image_tag "logo.png", class: "h-32 w-32 mb-2 animate__animated animate__pulse animate__slow animate__infinite" %>
      <span class="text-xl pt-2">Loading...</span>
    </div>
  </div>
</div>
